MYSQL_URL=${{mysql-db.MYSQL_URL}}

JWT_SECRET=make_this_a_long_random_secret_123456789
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=*

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_real_gmail@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_APP_PASSWORD=your_gmail_app_password
MAIL_SECURE=false
MAIL_FROM_ADDRESS=your_real_gmail@gmail.com
MAIL_FROM_NAME=Issue Tracker
