MYSQL_URL=${{mysql-db.MYSQL_URL}}

JWT_SECRET=make_this_a_long_random_secret_123456789
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=*

# Gmail API over HTTPS
GMAIL_USER=carmarketlanka@gmail.com
GMAIL_CLIENT_ID=your_google_oauth_web_client_id
GMAIL_CLIENT_SECRET=your_google_oauth_web_client_secret
GMAIL_REFRESH_TOKEN=your_oauth_playground_refresh_token

MAIL_FROM_ADDRESS=carmarketlanka@gmail.com
MAIL_FROM_NAME=Issue Tracker
